extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

    
        h1 Tim Murphy

        
        p Software Engineer Trainee 


        .about-bio

          
          p I am an analytical minded individual with knowledge of various front end and backend programing languages, databases and frameworks. Currently attempting to earn certifications for a MERN Stack.


      .skills-contact-box.box
        h6 Skills

        
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        
        ul
          li 678-920-3047
          li tcmurphy@travelers.com

        
        a.btn-link(href='https://www.linkedin.com') LinkedIn
        a.btn-link(href='https://github.com/tpo-tcmurphy') GitHub
        a.btn-link(href='https://www.twitter.com') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back