extends layout.pug

block content

  article.portfolio-intro

    //- Replace with your own heading like 'My Portfolio', or 'Hey, Potential Employers', or 'Let's make the web great together!' 
    h1 Welcome to my Portfolio site!

    //- Replace with a description for your portfolio, what this project is, it's purpose, what it's supposed to accomplish, etc. 
    p Below you will find a collection of the projects that I have made thus far. Feel free to click on the photos to learn more about the projects that I have created. 


  article.portfolio-project-thumbnail
    .projects-box.box.grid
       each project in projects
        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src= `${project.thumbnail_pic}`, alt=`Preview image for ${project.project_name}`)
            h5= project.project_name
